@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(190, 190, 190);
}

h1 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.memeGenerated  {
    border: 2px solid;
    padding: 40px 50px 70px 50px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    max-height: 550px;
    text-align: center;
    margin-bottom: 20px;
}

.main img {
    height: 500px;
}

.main p {
    font-size: 30px;
    margin-bottom: 10px;
}

#meme-generator {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}